.jumbotron {
		height: 900px;
		position: absolute;
		width: 100%;
		clip-path: polygon(12% 59%, 0 54%, 0 0, 100% 0, 100% 52%, 92% 59%, 81% 53%, 67% 34%, 62% 48%, 42% 65%, 24% 60%, 14% 76%);
		z-index: -999;
	}
	.col-sm-4 {
		margin-top: 20%;
		text-align: center; 
	}
	.btn-lg {
		position: absolute;
		left: 80%;
		font-size: 18px;
	}
	.balance {
		background: #eee;
		padding: 8px;
		margin-left: -12px;
		color: #228B22;
		border-radius: 6px 2px 2px 6px;
	}
	.row {
		display: none;
	}
	.progress {
		margin-top: 40%;
	}
	.progress-bar {
		background: green;
	}
	.btn-success {
		margin-left: 35%;
		margin-top: 5%;
		height: 60px;
		width: 30%;
		font-size: 22px;
		position: relative;
	}
	.btn-form {
		margin-left: 40%;
		margin-top: 14%;
		height: 50px;
		width: 20%;
		font-size: 22px;
	}
	.btn-warning {
		margin-left: 3%;
		margin-top: 5%;
		height: 50px;
		width: 20%;
		font-size: 18px;
	}
	hr {
		margin-top: 10%;
	}
	input .radio-inline {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 25px;
	  width: 25px;
	  background-color: green;
	  color: green;
	}

.flip {
    -webkit-perspective: 800;
    width: 250px;
    height: 300px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
    -webkit-transform: rotateY(-180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    user-select: none;   
}
.flip .card:hover {
	box-shadow: 0px 0px 10px 5px #228B22;
	border-radius: 10px;
}
.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
    user-select: none;   
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    background: gray;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    opacity: 0.6;
    user-select: none;   
}
.flip .card .back {
    -webkit-transform: rotateY(-180deg);
    cursor: pointer;
    border-radius: 8px;
    font-size: 54px;
    opacity: 0.6;
    user-select: none;   
}
.none {
	color: #B22222;
	background: #FFE4E1;
	border: 4px dashed #B22222;
	user-select: none;   
}
.yeah {
	color: 	#3CB371;
	background: #F0FFF0;
	border: 4px dashed #3CB371;
	user-select: none;   
}
.tablo {
	font-size: 120px;
	opacity: 0.7;
	position: fixed;
	top: 50%;
	left: 50%;
}

@media screen and (max-width: 824px) {
	.card {

	}
}